@import url("https://fonts.googleapis.com/css2?family=Geologica&family=Nanum+Pen+Script&family=Reem+Kufi+Fun:wght@400;500;600;700&family=Work+Sans:ital,wght@0,200;0,300;1,200&display=swap");

.game {
  width: 250px;
  height: 250px;
  flex-wrap: wrap;
  justify-content: center;
  
}
.cell {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #0A0914;
  margin: 5px 5px;
  cursor: pointer;
  padding-bottom: 5px;
  transform: translateY(10%);
  text-shadow: 5px 5px 5px #0000008f;
  font-family: "Nanum Pen Script", "cursive";
}
.cell h1 {
  position: absolute;
  font-size: 100px;
  top: -24px;
  right: 9px;
}
.swal2-modal{
  background-color: black;
  color: #FFB900;
  
}
.retry-btn {
  background-color: #0A0914 !important;
  font-size: 40px;
  cursor: pointer;
  padding: 5px 0;
}
.winning-cell {
  background-color: rgb(8, 173, 35);
  position: relative;
}

.winning-cell::before {
  content: "";
  position: absolute;
  background-color: red;
  width: 100%;
  height: 5px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.winning-cell::after {
  content: "";
  position: absolute;
  background-color: red; 
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.xscore { 
  color: #eff7ef !important;
  text-shadow: 0 0 5px #ffff00, 0 0 5px #ff0000, 0 0 1px #ff6200,
  0 0 2px #ff0000;
}
.oscore {
  color: rgb(249, 250, 250) !important;
  text-shadow: 0 0 5px #ffff00, 0 0 5px #00ff00, 0 0 1px #00ff00,
  0 0 1px #00ff00;
}
