@import url("https://fonts.googleapis.com/css2?family=Geologica&family=Nanum+Pen+Script&family=Reem+Kufi+Fun:wght@400;500;600;700&family=Work+Sans:ital,wght@0,200;0,300;1,200&display=swap");

.game {
  width: 250px;
  height: 250px;
  flex-wrap: wrap;
  justify-content: center;
  
}
.cell {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: rgb(114, 110, 110);
  margin: 5px 5px;
  cursor: pointer;
  padding-bottom: 5px;
  transform: translateY(10%);
  box-shadow: 7px 5px 12px 5px #00000063;
  text-shadow: 5px 5px 5px #0000008f;
  font-family: "Nanum Pen Script", "cursive";
}
.cell h1 {
  position: absolute;
  font-size: 100px;
  top: -25px;
  right: 7px;
}
.retry-btn {
  background-color: #655CC9 !important;
}
.winning-cell {
  background-color: rgb(8, 173, 35);
  position: relative;
}

.winning-cell::before {
  content: "";
  position: absolute;
  background-color: red;
  width: 100%;
  height: 5px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.winning-cell::after {
  content: "";
  position: absolute;
  background-color: red; /* You can set the color of the line */
  width: 3px; /* Adjust the width of the line as needed */
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.xscore {
  color: #90ee90 !important;
}
.oscore {
  color: lightblue !important;
}
