@import url("https://fonts.googleapis.com/css2?family=Geologica&family=Nanum+Pen+Script&family=Reem+Kufi+Fun:wght@400;500;600;700&family=Work+Sans:ital,wght@0,200;0,300;1,200&display=swap");

.game {
  width: 250px;
  height: 250px;
  flex-wrap: wrap;
  justify-content: center;
}
.cell {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #0a0914;
  margin: 5px 5px;
  cursor: pointer;
  padding-bottom: 5px;
  transform: translateY(10%);
  text-shadow: 5px 5px 5px #0000008f;
  font-family: "Nanum Pen Script", "cursive";
}
.cell h1 {
  position: absolute;
  font-size: 100px;
  top: -24px;
  right: 9px;
}
.swal2-modal {
  background-color: black;
  color: #ffb900;
}
.retry-btn {
  background-color: #0a0914 !important;
  font-size: 40px;
  cursor: pointer;
  padding: 5px 0;
}



.xscore {
  color: #e9e8f3 !important;
  text-shadow: 0 0 3px #e4e007, 0 0 5px #ff0000, 0 0 1px #ff0000,
    0 0 2px #ff0000;
}
.oscore {
  color: #faf9ff !important;
  text-shadow: 0 0 5px #ffff00, 0 0 5px #00ff00, 0 0 1px #00ff00,
    0 0 1px #00ff00;
}
.winning-cell {
  background-color: rgb(8, 173, 35);
  position: relative;
  animation: cell-animation-green 0.5s infinite ;
}

@keyframes cell-animation-green {
  0% {
    background-color: #0b0a16;
  }
50%{
  background-color: #FCCFB8;
}
  100% {
    background-color: rgb(8, 173, 35);
  }
}
