@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Geologica&family=Nanum+Pen+Script&family=Reem+Kufi+Fun:wght@400;500;600;700&family=Work+Sans:ital,wght@0,200;0,300;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Geologica&family=Nanum+Pen+Script&family=Reem+Kufi+Fun:wght@400;500;600;700&family=Signika:wght@300;400&family=Work+Sans:ital,wght@0,200;0,300;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./components/xo.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100% !important;
  color: #ddd !important;
  font-family: "Signika", sans-serif !important;
}

.game {
  margin: auto;
}

.save-btn {
  width: 55%;
  margin-left: 24%;
  background-color: #0b0a16 !important;
}
.custom-input-style {
  border-color: #0b0a16 !important;
  background-color: #0b0a163d !important;
  color: #3b0252 !important;
}
table {
  border-collapse: collapse;
  background-color: #655cc9 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
  font-family: Arial, sans-serif;
  color: #0b0a16;
  text-align: center;
  text-shadow: 2px 2px 4px #666;
  letter-spacing: 3px;
  font-size: 55px;
  font-weight: 950;
}
th,
td {
  padding: 10px;
  text-align: center !important;
}

th {
  background-color: #000000e3 !important;
  letter-spacing: 2px;
  font-size: 25px;
  width: 150px;
}
td {
  font-size: 25px;
  background-color: #000000cb !important;
}

.glow-x {
  font-size: 48px;
  font-weight: bold;
  color: white;
  animation: glow-animation 1s infinite alternate;
}

@keyframes glow-animation {
  0% {
    text-shadow: 0 0 5px #ffff00, 0 0 5px #ff0000, 0 0 15px #ff6200,
      0 0 20px #ff0000;
  }

  50% {
    text-shadow: 0 0 10px #ffff00, 0 0 10px #ff0000, 0 0 30px #ff6200,
      0 0 40px #ff0000;
  }

  100% {
    text-shadow: 0 0 5px #ffff00, 0 0 5px #ff0000, 0 0 15px #ff6200,
      0 0 20px #ff0000;
  }
}

.glow-o {
  font-size: 48px;
  font-weight: bold;
  color: white;
  animation: glow-animation-green 1s infinite alternate;
}

@keyframes glow-animation-green {
  0% {
    text-shadow: 0 0 5px #ffff00, 0 0 5px #00ff00, 0 0 15px #00ff00,
      0 0 20px #00ff00;
  }

  50% {
    text-shadow: 0 0 10px #ffff00, 0 0 10px #00ff00, 0 0 30px #00ff00,
      0 0 40px #00ff00;
  }

  100% {
    text-shadow: 0 0 5px #ffff00, 0 0 5px #00ff00, 0 0 15px #00ff00,
      0 0 20px #00ff00;
  }
}
